In [ ]:
#multipy two variables
def m(x,y):
  p=x*y
  return p

m(3,4)

12

In [ ]:
# greet
def greet (n):
  print(f"hello,{n}!")
greet("navroop")

hello,navroop!

In [ ]:
#global and local scope
x=5
def o():
  y=3
  def i():
    z=x+y
    return z
  return i()
o()

10

In [ ]:
#add total
t=0
def add(n):
  global t
  t=t+n
  return t

add(10)

10

In [ ]:
#largest of 2 and largest of 3
def largest(a,b):
  if a>b:
    return a
  else:
    return b
largest(10,20)
def largest_3(a,b,c):
  return largest(a,largest(b,c))
largest_3(10,20,30)

30

In [ ]:
#wap python funation to find prime numbers in range 1 to 100
def prime():
  for i in range(1,101):
    if i>1:
      for j in range(2,i):
        if i%j==0:
          break
      else:
        print(i)
prime()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
 #wap python funtion to check given number is prime or not
def check(n):
  if n>1:
    for i in range(2,n):
      if n%i==0:
        print("not prime")
        break
    else:
      print("prime")
check(10)
check(2)

not prime
prime

In [ ]:
#stack functions push ,pop,is_empty,peek and size(stack)
def push(stack,item):
  stack.append(item)
  print("pushed item",item)

def is_empty(stack):
  return len(stack)==0

def pop(stack):
  if(is_empty(stack)):
    return ("stack is empty")
  return stack.pop()

def peek(stack):
  if(is_empty(stack)):
    return ("stack is empty")
  return stack[-1]

def size(stack):
  return len(stack)

stack=[]
push(stack,10)
push(stack,20)
push(stack,30)
print("popped item",pop(stack))
print("peek element",peek(stack))
print("the size of the stack is ",size(stack))
is_empty(stack)

pushed item 10
pushed item 20
pushed item 30
popped item 30
peek element 20
the size of the stack is  2

False

bubble sort
example
 sorting array
 list=[5,2,9,1,5]
 lower to higher
 first pass:
 compare 5,2
 swap both
 list=[2,5,9,1,5]
 compare 5 ,9
 no swap
 compare 9,1
 swap
 l=[2,5,1,9,5]
 compare 9,5
 swap
 l=[2,5,1,5,9]
 9 is on correct place

 second pass:
 compare 2,5
 no swap
 compare 5,1
 swap
 l=[2,1,5,5,9]
 compare 5,5
 no swap
 compare 5,9
 no swap

 Third pass:
 compare 2,1
 swap
 l=[1,2,5,5,9]
 compare 2,5 and 5,5 and 5,9
 no swap

 result=[1,2,5,5,9] array is **sorted**

In [ ]:
#bubble sort technique
a=[9,8,4,6,7]
def bubble_sort(a):
  for i in range(len(a)):
    for j in range(len(a)-i-1):
      if a[j]>a[j+1]:
        a[j],a[j+1]=a[j+1],a[j]
  return a
bubble_sort(a)

[4, 6, 7, 8, 9]