In [ ]:
# Examples of lists

In [ ]:
#print number of items in list:
lst=["apple","banana","cherry"]
print(len(lst))

3

In [ ]:
#list items can be of any datatype:
list1=["apple","cherry"]
list2=[1,2,3,4,5]
list3=['true','false','false']
list4=[1,'apple','m','true']
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'cherry']
[1, 2, 3, 4, 5]
['true', 'false', 'false']
[1, 'apple', 'm', 'true']

In [ ]:
#type()
list5=["apple","banana","cherry"]
print(type(list5))

<class 'list'>

In [ ]:
#Python-Access List Items
#access items
list6=["apple","cherry","banana","mango","kiwi","melon","orange"]
print(list6[1])
#negative indexing
print(list6[-1])
# Range of indexes
print(list6[2:5])
print(list6[:4])
print(list6[2:])
print(list6[-4:-1])

cherry
orange
['banana', 'mango', 'kiwi']
['apple', 'cherry', 'banana', 'mango']
['banana', 'mango', 'kiwi', 'melon', 'orange']
['mango', 'kiwi', 'melon']

In [ ]:
#updating values in list
num_list=[1,2,3,4,5,6,7,8,9,10]
print(num_list)
num_list[5]=100
print(num_list)
num_list.append(200)
print(num_list)
del num_list[3]
print(num_list)
del num_list[2:4]
print(num_list)
del num_list[:]
print(num_list)
del num_list
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10, 200]
[1, 2, 3, 5, 100, 7, 8, 9, 10, 200]
[1, 2, 100, 7, 8, 9, 10, 200]
[]

NameError: name 'num_list' is not defined

In [ ]:
#Cloning list
list7=[1,2,3,4,5,6,7,8,9,10]
list8=list7
print(list8)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#basic list operation
#len
list1=[1,2,3,4,5]
print(len(list1))

#concatenation
list2=[1,2,3,4]
list3=[5,6,7,8]
list4=list3+list2
print(list4)

5
[5, 6, 7, 8, 1, 2, 3, 4]

In [ ]:
#methods
#append()-add new element
lst=[]
lst.append(1)
lst.append(2)
print(lst)

[1, 2]

In [ ]:
#clear()-removes all element
lst=[1,2,3,4,5]
lst.clear()
print(lst)
print(lst.clear())

[]
None

In [ ]:
#copy()-return copy of list
lst=[1,2,3]
lst.copy()
print(lst)
print(lst.copy())

[1, 2, 3]
[1, 2, 3]

In [ ]:
#count()-counts number of occurances of element
lst=[1,2,3,2,5,3]
x=lst.count(2)
print(x)

2

In [ ]:
#extend()-adds all elements of an iterable to list
lst=[1,2,3]

In [ ]:
#Index(x)-returns position of first occurance of value x
lst=["Alice","23","Dog","9"]
print(lst)
print(lst.index("Alice"))
print(lst.index("23","9"))

['Alice', '23', 'Dog', '9']
0

TypeError: slice indices must be integers or have an __index__ method

In [ ]:
#insert(i,x)
lst=[1,2,3,4]
lst.insert(3,99)
print(lst)

[1, 2, 3, 99, 4]

In [ ]:
#pop()-removes and returns the last element
lst=[1,2,3]
lst.pop()
print(lst)

[1, 2]

In [ ]:
#remove(x)-removes and return first occurance of element element x
lst=[1,2,99,42,99]
lst.remove(99)
print(lst)

[1, 2, 42, 99]

In [ ]:
#reverse()
lst=[1,2,3,4]
lst.reverse()
print(lst)

[4, 3, 2, 1]

In [ ]:
#sort()-ascending order
lst=[5,4,3,3,2,1]
lst.sort()
print(lst)

[1, 2, 3, 3, 4, 5]