In [ ]:
#Examples of tuples
mytuple=("apple","banana","cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
#tuple length
mytuple=("apple","banana","cherry")
print(len(mytuple))

3

In [ ]:
#tuple with one item-add comma after item otherwise python will not recpgnize it as  tuple
mytuple=("apple",)
print(mytuple)
thistuple=("apple")   #not tuple
print(thistuple)

('apple',)
apple

In [ ]:
# a tuple can contain different data types
tuple1=("dog",23,True,"abs")
print(tuple1)

('dog', 23, True, 'abs')

In [ ]:
#type
tuple2=("apple","cherry")
print(type(tuple2))

<class 'tuple'>

In [ ]:
#Access tuple item
mytuple=("apple","banana","cherry","orange","kiwi")
print(mytuple[0])
print(mytuple[-1])   # negative indexing
print(mytuple[2:5])  # range of indexes
print(mytuple[:4])
print(mytuple[2:])
print(mytuple[-4:-1])

apple
kiwi
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi')
('banana', 'cherry', 'orange')

In [ ]:
tuple1=("a","b")
tuple2=(1,2)
tuple3=tuple1+tuple2    # add tuples
print(tuple3)
mytuple=tuple1*2   # multiply tuples
print(mytuple)

('a', 'b', 1, 2)
('a', 'b', 'a', 'b')

In [ ]:
# Tuple-methods
tup=(1,2,3,4,5,6,7,7)
print(tup.index(3))
x=tup.count(7)
print(x)

2
2

In [ ]:
tup=(6,5,4,3)
print(sorted(tup))

[3, 4, 5, 6]

In [ ]:
tup=(1,2,3,4,5)
print(6 in tup)

False

In [ ]:
tup=(1,2,3,4,5)
print(max(tup))
print(min(tup))

5
1

In [ ]:
#zip..not any method ...a random program of zip
tu=(1,2,3)
l1=['a','b','c']
x=zip(tu,l1)
print(x)
print(list(x))

<zip object at 0x7cd3a297f080>
[(1, 'a'), (2, 'b'), (3, 'c')]